/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 2rem;
  text-transform: uppercase
}

.main-para {
  font-size: 2em;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}

/* HomePage.css */

.text-center {
  text-align: center;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.primary-button {
  padding: 1rem 1.5rem;
  background: #3498db;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: background 0.5s;
}

.primary-button:hover {
  background: #2980b9;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 30%;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 1.5rem;
  }
}

.dark-mode {
  background-color: #333;
  color: #fff;
}